@{
   // este pedaço de código está escrito em C#
   ViewData["Title"] = "Home Page";

   // var auxiliar
   string resposta = "";

   // recuperar os dados enviados pelo controller
   if (!string.IsNullOrEmpty(ViewBag.X1)) {
      resposta = "As raízes são: x1=" + ViewBag.X1 + " e x2=" + ViewBag.X2;
   }
}

<div class="text-center">
    <h1 class="display-4">Soluções de uma Equação do 2º Grau</h1>
</div>


<!-- recolher os dados dos parâmetros da equação do 2º grau -->
<form>
    <div>
        <p>escreva os parâmetros da equação:</p>
        A= <input type="text" name="A" /> <br />
        B= <input type="text" name="B" /> <br />
        C= <input type="text" name="C" /> <br />

        <input type="submit" value="Calcular" />
    </div>
</form>

<br />
<h4>
    @resposta
</h4>
